body {
			background-color:white;
			}
address {
			position:absolute;
			bottom:0;
			right: 1em;
			margin-top: 1em;
			padding-top: 1em;
			border-top: thin dotted;
			}
div.topleft {
		position:absolute;
		top: 0;
		left: 0;
		background-color:#FFCC00;
		height: 130px;
		width: 100%;
		}
div.header {
			font-family: Lucida, sans-serif;
			font-weight: bold;
			position:absolute;
			top: 25px;
			left: 130px;
			font-size: 175%;
			color: #660099;
			}
div.main {
		position:absolute;
		top: 150px;
		left: 3em;
		width: 700px;
		font-size: 110%;
		background: white;
		}
a {
	text-decoration:underline;
	color: #660099;
	}
img.uninameplate {
		position:absolute;
		top: 15px;
		left: 1em;
		}